*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    background-color: lightgray;
    padding: 15px;
    padding-left: 70px;
    color: red;
}

.main{
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.left{
    width: 50%;
}

.left h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.left p{
    width: 80%;
}

.right{
    width: 40%;
}

.right img{
    width: 200px;
}

.row{
    display: flex;
}

.box{
    width: 35%;
    height: 300px;
    background-color: darkred;
    color: white;
    padding: 40px;
    border-right: 2px solid red;
}

.box h2{
    margin-bottom: 15px;
}
