*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    width: 800px;
    height: 800px;
    margin: 80px auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


/* CHILD 1 */
.child1{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: white;
    padding: 15px;
}

.child1 img{
    width: 150px;
    height: 220px;
}


/* CHILD 2 */
.child2{
    padding: 30px;
    text-align: center;
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: whitesmoke;
}


/* CHILD 3 */
.child3{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #f04b2f;
    text-align: center;
    padding: 20px;
    color: white;
}

.child3 img{
    width: 140px;
    height: 90px;
}


/* CHILD 4 */
.child4{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: white;
    padding: 15px;
}

.child4 img{
    width: 150px;
    height: 180px;
}


/* CHILD 5 */
.child5{
    grid-column: 4/5;
    grid-row: 2/4;
    background-color: rgb(136, 104, 136);
    text-align: center;
    padding: 20px;
    color: white;
}

.child5 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


/* CHILD 6 */
.child6{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: white;
    text-align: center;
    padding: 20px;
}

.child6 img{
    width: 150px;
    height: 100px;
}


/* CHILD 7 */
.child7{
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: rgb(154, 203, 154);
    text-align: center;
    padding: 20px;
    color: white;
}

.child7 img{
    width: 250px;
    height: 150px;
    margin-top: 10px;
}

.child7 button{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
}
