*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* HERO */

.hero{
    position: relative;
}

.hero img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.hero-text{
    position: absolute;
    top: 30%;
    left: 20%;
    color: white;
}

.hero-text h1{
    margin-bottom: 20px;
}

.btn{
    padding: 10px 20px;
    background-color: orange;
    border: none;
    color: white;
    cursor: pointer;
}


/* ACTIVITY */

.activity{
    display: flex;
    padding: 60px;
    background-color: #f2f2f2;
}

.left{
    width: 40%;
    padding-right: 20px;
}

.right{
    width: 60%;
}

.right img{
    width: 100%;
}

.arrows{
    margin-top: 10px;
}

.arrows button{
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}


/* TOURISM */

.tourism{
    padding: 60px;
    text-align: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.card{
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: #e6e6e6;
    text-align: center;
}

.card img{
    width: 80px;
    margin-bottom: 10px;
}


/* CHOOSE */

.choose{
    padding: 60px;
    text-align: center;
}

.menu a{
    margin: 0 20px;
    text-decoration: none;
    color: blue;
}
