*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.parent{
    width: 900px;
    height: 700px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.parent > div{
    padding: 20px;
    border-radius: 10px;
}

.profile{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.box1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: purple;
    color: white;
}

.box2{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: rgb(70, 80, 95);
    color: white;
}

.box3{
    grid-column: 4/5;
    grid-row: 1/3;
    background-color: white;
}

.box4{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
}

.box5{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: black;
    color: white;
}
